@{
    ViewData["Title"] = "Notas";
}

<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h2>CENTRO ESCOLAR LA RECOLECCION</h2>
            <h3>1880 22 DE NOVIEMBRE - 2023</h3>
            <h3>BOLETIN</h3>
            <h5>AÑO LECTIVO 2023</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col col-4">
                    <b> CODIGO: </b>5538 @*El codig debe de venir de la BD*@
                </div>
                <div class="col col-4">
                    ALUMNA: VELASQUEZ TELLERIA NATALY PAOLA @*El nombre debe de venir de la BD*@
                </div>
                <div class="col col-4">
                    GRADO: PRIMERO @*El nombre debe de venir de la BD*@
                </div>
            </div>
            <div class="row">
                <div class="col col-6">
                    PROFESOR GUIA: MARICELA MERCEDES MARADIAGA BLANCO @*El codig debe de venir de la BD*@
                </div>
                <div class="col col-6" style="text-align:right;">
                    SECCION: A @*El nombre debe de venir de la BD*@
                </div>
            </div>
        </div>
    </div>
</div>